/*
	data-usage.less

-------------------------------------------------------------------*/

/*
	@template tpl/app/data-usage.html
	@template tpl/app/home/graph.html
*/

#panel-graphs{
	
	.tab-content{
		position: relative;
		min-height: 475px;
	}
					
}

.graph-data-wrapper{
	
	.show-data{
		position: absolute;
	    bottom: 0;
	    left: calc(~"50% - 75px");
	    display: block;
	    text-align: center;
	    width: 150px;
		height: 30px;
	    line-height: 30px;
	    border: 1px solid rgba(0,0,0,.07);
	    border-bottom: none;
	    
	    text-shadow: none !important;
		color: #3a8fc8;
	    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
	    cursor: pointer;
	    background-color: transparent;
	    
	    &:focus, &:hover, &:active {
		    color: #48b0f7;
		}
	    
	}

	.modal{
		.modal-header{
			padding: 10px 0;
			.close{
				margin-top: 0;
				position: absolute;
			    top: 25px;
			    right: 20px;
			}
		}
		
		.modal-body{
			max-height: 220px;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			padding: 0 25px 0;
		    margin-bottom: 25px;
			
			
			@media only screen and (max-width: 500px){
				padding: 0 0 25px 0;		
			}
		}
	}
}

@media only screen and (max-width: 400px){
	nvd3 .nvtooltip{
		margin-top: 0px !important;
	}

	/*
     applying margin-top only for pie chart and donut chart
    */
	.nvtooltip{
		margin-top: -50px;
	}
}
.modal a[graph-upload] {
	right: 110px;
	bottom: 25px;
	position: absolute;
	z-index: 9999;
}
@media only screen and (max-width: 470px){
	.graphs a[graph-upload], .zone-panel-wrapper  a[graph-upload] {
		float:right;
		position: relative;
	}

}
@media only screen and (min-width: 470px) {
	.graphs a[graph-upload],
	.zone-panel-wrapper a[graph-upload] {
		float: right;
		position: relative;
	}
}
@media only screen and (min-width: 767px){
	.graphs a[graph-upload],
	.zone-panel-wrapper a[graph-upload] {
		right: 15px;
		top: 15px;
		position: absolute;
	}
}

