/*
	general.less

-------------------------------------------------------------------*/

/*
	@template *
*/

/* Add visible scroll bars to OSx */
&::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
}

&::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7.5px;
  background-color: rgba(0, 0, 0, 0.35);

  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

&::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

&::-webkit-scrollbar-corner {
  background-color: transparent;
}

&::-webkit-scrollbar-track {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, .07);
}

/* SVG spinner fix for IE */
.rotateBox {
	/*position: relative;
	height: 150px;
	width: 150px;*/
	-ms-transform-origin: center center !important;
	-ms-animation: fa-spin 2s infinite linear !important;
}

.alert{
	&.alert-plain{
		padding: 0;
	}
}

.allow-overflow,
.nav-tabs ~ .tab-content.allow-overflow{
	overflow: visible;
}

.spacer{
	margin: 0 25px;
	border-right: 1px solid rgba(255,255,255,.25);
	border-left: 1px solid rgba(255,255,255,.15);
}

.data-unit{
	vertical-align: baseline;
	text-transform: uppercase;
	line-height: 1;
	font-size: 80%;
	font-weight: 600;
	margin-left: 3px;
}

.alert-loading-box,
.loading-box{
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -1.25em;
	margin-right: -1.25em;
	font-size: 2em;
	line-height: 2.5em;
	width: 2.5em;
	height: 2.5em;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.07);
	.border-radius(1.25em);
}

.alertSideBarLoading{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: #fafafa !important;
  opacity: 0.5;
}

/* header */

.header{
	padding: 0 15px 0 0;
}

.navigation-wrapper{
	height: 60px;
	line-height: 60px;
	position: relative;

	@media only screen and (max-width: 767px){
		height: 48px;
		line-height: 48px;
	}

	> div{
		&:first-child{
			float: left;
			display: inline-block;

			@media only screen and (max-width: 991px){
				display: none;
			}
		}

		&.app-logo{
			position: absolute;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			top: 0;

			.product-role{
				/* Open Sans is included only at 700 weight and italic style */
				font-family: "Open Sans", sans-serif;
				font-weight: 700;
				font-style: italic;
				text-transform: capitalize;

				sup {
					font-size: 60%;
					top: -.47em;
				}
			}
		}

		&.users-name{
			float: right;
			margin-right: 25px;

			@media only screen and (max-width: 991px){
				display: none;
			}
		}
	}
	#account-selector{
		line-height: 55px;
		background: inherit;
		padding: 5px 15px 0;
		color: #CCC;
		position: relative;
		cursor: pointer;
		-webkit-transition: 0.35s color ease-in-out;
		transition: 0.35s color ease-in-out;
	}
	#account-selection-panel{
		height: 100px;
		background-color: transparent;
		top: 60px;
		.last{
			height: 60px;
		}
		.defaultCursor{
			cursor: default;
		}
	}
	.account-close-btn{
		font-size: 20px;
		line-height: 55px;
	}
}

.gem-logo{
	font-family: @centuryGothicBold;
	text-transform: uppercase;
	font-size: 20px;
	color: #ffffff !important;
	width: 370px;
	display: inline-block;
	text-align: center;
	line-height: 60px;

	&:hover,
	&:focus,
	&:active{
		color: #ffffff !important;
	}

	@media @MQ-M{
		font-size: 16px;
		width: 100%;
		white-space: nowrap;
		line-height: 48px;
	}

	@media @MQ-S{
		font-size: 12px;
	}

}

/* Sidebar */
body.mobile{
	&.sidebar-visible{
		.page-sidebar{
			.sidebar-header{
				.toggle-sidebar{
					.translate3d(-14px,0,0);
				}
			}
		}
	}

	.sidebar-header{
		.toggle-sidebar{
			display: inline-block;
			visibility: hidden;
			width: 126px;
			vertical-align: middle;
			text-align: right;
			-webkit-transition: -webkit-transform 0.4s cubic-bezier(@menu-bezier) !important;
			transition: transform 0.4s cubic-bezier(@menu-bezier) !important;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
			-webkit-text-size-adjust:100%;
			-ms-text-size-adjust:100%;

			.menu-hambuger{
				display: inline-block;
			}
		}
	}
}


.sub-menu{
	li > span{
		&.account-alert,
		&.group-alert,
		&.sim-alert{
			.fa-bell-o{
				position: absolute;
				top: 11px;
				left: 12px;
			}
		}

		&.account-alert{
			.fa-gear{
				position: absolute;
				top: 6px;
				left: 5px;
			}
		}

		&.group-alert{
			.fa-group{
				position: absolute;
				top: 6px;
				left: 5px;
				font-size: 12px;
			}
		}

		&.sim-alert{
			.fa-signal{
				position: absolute;
				top: 4px;
				left: 4px;
				font-size: 12px;
			}
		}
	}
}


body.desktop{
	.toggle-sidebar-tablet{
		display: none;
	}
}

/* Sidebar */
.logout-listitem{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@media only screen and (max-height: 430px){
		position: static;
	}
}

/* Content Covers */

.cover-background{
	background-color: #fafafa;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 199;
}

.loading-indicator-body{
	background-color: #fafafa;
	position: absolute;
	height: 100%;
	height: 100vh;
	height: calc(~"100vh - 61px");
	width: 100%;
	z-index: 200;

	.loading-title{
		top: 50%;
		right: 50%;
		/* Preserve perfect center based on width and height */
		margin-right: -25px;
		margin-top: -25px;
		height: 50px;
		width: 50px;

		position: absolute;
	}
}

.login-wrapper{
	.loading-indicator-body{
		height: 100% !important;
		height: 100vh !important;
	}
}

body.state-complete{
	.cover-background{
		display: none;
	}
}

#usertb{
	position: relative;
}


@media only screen and (max-width: 991px){
	body.pace-running #usertb.content{
		overflow-x: visible;
	}
}

/* Modals */

/* Fixing issue w/ bootstrap 3.3.4
	- Reference https://github.com/twbs/bootstrap/pull/15881
*/
.modal-dialog{
	z-index: 1050;
}

.modal{
	&.modal-bar-chart{
		.modal-body{
			/* graph height plus 75 */
			min-height: 475px;

			@media only screen and (max-width: 650px){
				min-height: 200px;
			}

			@media only screen and (max-width: 991px) and (max-height: 510px){
				max-height: 350px;
				min-height: 350px;
				-webkit-overflow-scrolling: touch;
				overflow-y: scroll;
				overflow-x: hidden;
			}

			@media only screen and (max-width: 991px) and (max-height: 370px){
				max-height: 290px;
				min-height: 290px;
			}
		}
	}

	.modal-header{
		&.only-close{
			min-height: 0px;
			padding: 0;

			.close{
				position: absolute;
				top: 25px;
				right: 20px;

				/* Allow the close button to be over the SVG graph header */
				z-index: 10;
			}

		}
	}
}

/* Breadcrumbs */

.breadcrumb-wrapper{
	background-color: rgb(240,240,240);
	padding: 8px 30px;
	border-bottom: 1px solid rgba(0,0,0,.07);

	.breadcrumb{
		padding: 0;

		li{
			font-size: 12px;

		  a {
			color: #3a8fc8;
			font-size: 12px !important;
		  }
		}
	}

	@media (max-width: 767px){
		padding: 8px 20px;
	}
}

/* Tooltips */

.tooltip{
	&.gs-tooltip{
		&.top{
			.tooltip-arrow{
				border-top-color: #1d1f34;
			}
		}

		&.right{
			.tooltip-arrow{
				border-right-color: #1d1f34;
			}
		}

		&.bottom{
			.tooltip-arrow{
				border-bottom-color: #1d1f34;
			}
		}

		&.left{
			.tooltip-arrow{
				border-left-color: #1d1f34;
			}
		}

		.tooltip-inner{
			.box-shadow(0 2px 6px rgba(0, 0, 0, 0.07));
			.border-radius(2px);
			padding: 3px 8px;
			border: 1px solid #1d1f34;
			background-color: #04061e;
			font-family: Arial;
			font-size: 13px;
			color: #CCC;
		}
	}
}

/* Utility Classes */

.line-break{
	height: 1px;
	background-color: rgba(0,0,0,.07);
	width: 100%;
	display: block;
}

.text-match-parent{
	color: inherit;
}

a.text-match-parent:extend(.text-match-parent){
	text-decoration: underline;

	&:focus,
	&:hover{
		color: inherit !important;
	}
}

.word-wrap{
	word-wrap: break-word;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px){

	body.menu-pin{
		.sm-t-cell{
			&.nav-tabs{
				li{
					display: table-cell;

					.sm-nxt-ln{
						display: block;
					}
				}

				&.half{
					li{
						width: (1/2)*100%;
					}
				}

				&.third{
					li{
						width: (1/3)*100%;
					}
				}
			}

			&.nav-tabs{

			}
		}
	}

}

@media only screen and (max-width: 500px){

	.sm-t-cell{
		&.nav-tabs{
			li{
				display: table-cell;

				.sm-nxt-ln{
					display: block;
				}
			}

			&.half{
				li{
					width: (1/2)*100%;
				}
			}

			&.third{
				li{
					width: (1/3)*100%;
				}
			}
		}

		&.nav-tabs{

		}
	}

}

/* Terms of Use and Privacy Policy */

.no-list-type{
	list-style: none;
}

.legal-header{
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.effective-date{
	font-family: 'Montserrat';
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 12px;
	font-weight: 600;
	margin: 15px 0 0 0;
	padding: 0;
	display: block;
	padding-top: 15px;
	border-top: 1px solid rgba(0,0,0,.07);
}

@media (max-width: 400px){
	.header .col-xs-3{
		width: 15%;
	}
}

@media (max-width: 320px) {
	.header .col-xs-3{
		width: 10%;
	}
}


/* Private mode not supported message*/

.privateModeMsg{
	font-size: 20px;
}

@media (max-width: 400px){
	.privateModeMsg{
		font-size: 15px;
	}
}

/* Maintenance */

.maintenance{
	.logo-box{
		height: 61px;
		width: 100%;
		line-height: 61px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.error-container{
		margin-top: 0;
		max-width: 500px;
		width: 100%;
		padding: 81px 15px;
	}
}


/*
  Wrap any .nav-tabs in this and it will transition the placement of the
  nav tabs to top on mobile.
*/
.mobile-tabs-top{
	/*
	  @media queries are specific to string length of each list item
		  - Enterprise Usage By Day
		  - Zone Data Usage
		  - Group Data Usage
		  - Group Usage By Week
	*/
	@media only screen and (max-width: 991px){
		.nav-tabs{
			float: none;
			font-size: 0;

			&.nav-tabs-left ~ .tab-content {
				border-left: none;
				border-top: 1px solid rgba(0, 0, 0, 0.1);
			}

			&.mobile-fifths{
				li{
					width: 20%
				}
			}

			&.mobile-sixth{
				li{
					width:percentage(1/6);
				}
			}

			&.mobile-seventh{
				li{
					width:percentage(1/7);
				}
			}

			li{
				float: left;
				width: 25%;
				vertical-align: middle;

				&:after{
					top: calc(~"100% - 3px");
					top: initial;
					width: 100% !important;
					height: 0;
				}

				&.active,
				&:hover{
					&:after{
						height: 3px;
					}
				}

				a{
					height: 66px;
					vertical-align: middle;
					display: table-cell;
				}
			}

			&.taller{
				li a{
					height: 83px;
				}
			}

			&.half{
				li{
					width: 50% !important;
				}
			}
		}
	}


	@media only screen and (min-width: 504px) and (max-width: 556px) {
		.nav-tabs{
			li{
				a{
					height: 83px;
				}
			}
		}
	}

	@media only screen and (max-width: 504px){
		.nav-tabs{
			li{
				a{
					height: 100px;
				}
			}
		}
	}
}

/* Custom Portlet Design - Must be used on .panel */
.portlet-info{
	&.panel {
		background-color: @color-primary;
		color: @color-primary-lighter;

		.panel-heading {
			color: @color-primary-lighter;
			padding: 15px 20px;
			min-height: initial;

			.panel-title {
				vertical-align: middle;
				line-height: 1;
			}

			a{
				color: @color-primary-lighter !important;
				opacity: .8;
			}

			.panel-controls{
				margin-top: 0;
			}
		}

		.panel-body{
			a{
				color: #C5B6FF;
				cursor: pointer;

				&:hover,
				&:focus{
					color: #ffffff;
				}
			}
		}
	}
}

/* Theme Extension */

.inline-block{
	display: inline-block;
}

.display-block{
	display: block;
}

.nowrap{
	white-space: nowrap;
}

.md-m-t-15{
	@media @MQ-L{
		margin-top: 15px;
	}
}

.md-m-l-0{
	@media @MQ-L{
		margin-left: 0;
	}
}

.md-m-r-0{
	@media @MQ-L{
		margin-right: 0;
	}
}

.sm-m-t-0{
	@media @MQ-M{
		margin-top: 0;
	}
}

.sm-w-100{
	@media @MQ-M{
		width: 100% !important;
	}
}

.md-m-t-10{
	@media @MQ-L{
		margin-top: 10px;
	}
}

.md-m-t-5{
	@media @MQ-L{
		margin-top: 5px;
	}
}

.xs-p-t-15{
	@media @MQ-S{
		padding-top: 15px;
	}
}

.visible-1010{
	@media only screen and (min-width: 1011px){
		display: none !important;
	}
	@media only screen and (max-width: 1010px){
		display: block !important;

		&.visible-m-t-10{
			margin-top: 10px;
		}
	}
}

.m-t-10-at-1010{
	@media only screen and (max-width: 1010px){
		margin-top: 10px;
	}
}

/* Info Questions */
.info-question-circle{
	.border-radius(12px);
	height: 24px;
	width: 24px;
	line-height: 24px;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(230,230,230,1);
}

.disabledComponent{
	background-color: #fafafa !important;
	opacity: 0.5;
}

/*labels in export modal*/
.export-label{
	font-family: "Segoe UI", Arial, sans-serif !important;
	font-weight: normal !important;
}

@media only screen and (max-width: 330px){
	.xs-export-m-r-35{
		margin-right: 35% !important;
	}

	.xs-export-m-l-9{
		margin-left: 9%;
	}
}
.loading-activity {
	animation: none;
	background: url('../../pages/img/progress/progress-circle-success.svg') no-repeat top left;
	background-size: 100% auto;
	margin: 0 auto;
	border-width: 0;
	border-radius: 0;
	top: 50%;
	right: 50%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-right: -25px;
	display: block;
	position: fixed;
	z-index: 2000;
	transform: rotate(3deg) translate(0px, -4px);
	border-top-color: #22df80;
	border-left-color: #22df80;
}

/* customised and default action buttons */

.btn-complete{
  &.customizedBtn{
	color: #626262;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
  }

  &.customizedBtn:focus,
  &.customizedBtn:hover{
	background-color: #f2f2f2 !important;
	border-color: #f2f2f2 !important;
  }

  &.defaultActionBtn{
	background-color: #10cfbd;
	border-color: #10cfbd;
  }

  &.defaultActionBtn:focus,
  &.defaultActionBtn:hover{
	background-color: #12edd7 !important;
	border-color: #12edd7 !important;
  }
}

h5{
  &.customizedHeader{
	color: #10cfbd !important;
	font-weight: 400;
  }
}

span{
  &.customizedSpan{
	background-color: #ccffff !important;
  }
}

.RP-association-details{
	font-size: 12px;
	font-weight: 600;

	span{
		font-weight: 100;
	}

	.country-modal{
		color: #3a8fc8 !important;
		opacity: unset;
	}
}

@media only screen and (min-width: 1200px) {
	.app-logo {
		left: 50%;
	}
}
@media only screen and (max-width: 1200px) {
	.app-logo {
		left: 40%;
	}
}
@media only screen and (min-width: 900px) {
	.app-logo {
		left: 50%;
	}
}

.mb-1-percent{
	margin-bottom: 1%;
}

.ws-normal{
	white-space: normal !important;
}