/*
	override.less

-------------------------------------------------------------------*/

/*
	@template *	
*/

.pace .pace-activity {
	top: 50%;
	right: 50%;
	/* Preserve perfect center based on width and height */
	height: 50px;
    width: 50px;
	margin-top: -25px;
	margin-right: -25px;
}

.login-wrapper{
	
	.bg-pic,
	.login-container{
		visibility: hidden;
		overflow-y: hidden;
	}
	
	.pace{
		&.pace-active,
		&:not(.body-initial-load-complete){
			height: 100% !important;
			height: 100vh !important;
			background-color: #fafafa;
			position: relative;
			z-index: 200;	
		}
	}
}


/*
overriding  backface-visibility to have default value as it was
causing labels to be displayed as blur
*/
.form-group-default.focused label {
  -webkit-backface-visibility: initial;
  -moz-backface-visibility: initial;
  backface-visibility: initial;
}

.form-group-default label.fade {
  -webkit-backface-visibility: initial;
  -moz-backface-visibility: initial;
  backface-visibility: initial;
}

body{
	overflow-x: hidden;

	&:not(.initial-view-loading){
		.pace{
			&.pace-active,
			&:not(.body-initial-load-complete){
				background-color: transparent !important;
			}
		}
		
		.page-container{
			.page-content-wrapper{
				.content{
					> .content-inner-wrapper{
						visibility: visible !important;
					}
				}
				
				.footer{
					display: block !important;
				}
			}
		}
	}

    &.initial-view-loading{
      .page-content-wrapper .content{
        > .content-inner-wrapper{
          visibility: hidden;
          overflow-y: hidden;
        }
      }
    }

	&.menu-pin{
		.page-sidebar .sidebar-header .sidebar-header-controls {
			-webkit-transform: translate3d(24px, 0, 0);
			transform: translate3d(24px, 0, 0);
			-ms-transform: translate(24px, 0);
		}

	  	.page-sidebar button.stick-menu{
			display: inline !important;
	  	}
	}

  	&.sidebar-visible{
      .page-sidebar{
        .box-shadow(0 0 9px rgba(0, 0, 0, 0.3));

        .sidebar-header .sidebar-header-controls {
          -webkit-transform: translate3d(24px, 0, 0);
          transform: translate3d(24px, 0, 0);
          -ms-transform: translate(24px, 0);
        }

        button.stick-menu{
          display: inline !important;
        }
      }
  	}

  	&.sidebar-open{
		.page-sidebar {
          .box-shadow(0 0 9px rgba(0, 0, 0, 0.3));

          button.stick-menu {
            display: none !important;
          }
        }
        .pgn-wrapper {
          -webkit-transform: translate3d(280px, 0, 0);
          transform: translate3d(280px, 0, 0);
          -ms-transform: translate(280px, 0);

          @media @MQ-L{
            -webkit-transform: translate3d(255px, 0, 0);
            transform: translate3d(255px, 0, 0);
            -ms-transform: translate(255px, 0);
          }
        }
 	 }

	/* Bootstrap - Modal overflow issues - Fix */
	&.modal-open{
		position: fixed;
		width:100%;
		height:100%;

		.page-container .page-content-wrapper .content{
			z-index: auto;
		}
	}

    .pgn-wrapper{
      .transition(transform .5s ease);

      &[data-position="top"] {
        @media @MQ-L {
          top: 60px;
		  left: 0 !important;
        }
        @media @MQ-M {
          top: 48px;
        }
      }
    }
}

.page-sidebar button.stick-menu {
  display: none !important;
}

.page-container .page-content-wrapper{
	background-color: rgb(250,250,250);

	.footer{
		display: none;
		z-index: 11;
	}
}

.page-content-wrapper .content{

	.pace{
		&.pace-active,
		&:not(.body-initial-load-complete){
			background-color: #fafafa;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: 200;
		}
	}
}

.body-initial-load-complete{
	.page-content-wrapper .content > .content-inner-wrapper,
	.login-wrapper .bg-pic,
	.login-wrapper .login-container{
		visibility: visible;
	}

	.login-wrapper,
	.login-container{
		overflow-y: auto;
	}
	
	.page-container .page-content-wrapper .footer{
		display: block;
	}
}

.form-group{
	label{
		&:not(.error){
			font-size: 14px;
			text-transform: none;
		}
	}
}

.exportOptions{
	.DTTT{
		&.btn-group{
			a {
				display: none !important;
			}
		}
	}
}

.panel-group{
	.panel-heading{
		.panel-title{
			vertical-align: middle;
			
			> a{
				&:after{
					.transition(all .12s ease);
					content: "\f106";
				}
				
				&.collapsed{
					&:after{
						content: "\f106";
						.rotate(-180deg);
					}
				}
			}
		}
	}
}

.quickview-wrapper{

	@media @MQ-L{.transition(transform 0.5s ease);}

	.quickview-toggle{
		font-size: 20px;
	}
}

table{
	&.dataTable{
		thead{
			.sorting,
			.sorting_asc,
			.sorting_desc,
			.sorting_asc_disabled,
			.sorting_desc_disabled{
				background-position: center left;
			}
		}
	}
	
}

.switchery{
	height: 24px;
	width: 40px;
	> small{
		height: 24px;
		width: 24px;	
	}
}

/* Sidebar Menu */

.icon-thumbnail{
	-webkit-perspective: 1000;
}

body.mobile .sidebar-menu > ul{
	@media only screen and (min-height: 430px){
	    height: calc(~"100% - 10px") !important;
	}
}

body.mobile .sidebar-menu {
  overflow: auto;
}

/* Alerts - Quickview Menu */

.quickview-wrapper{
  background-color: @color-menu;
  .box-shadow(none);

  &.open{
    .box-shadow(0 0 9px rgba(0, 0, 0, 0.3));
  }

  .list-view-group-container{
    padding: 0;
  }

  .list-view-group-header{
    position: static;
    padding: 6px 15px;
    background-color: @color-menu;
    color: #CCC;
    border-top: 1px solid @color-menu-border;
    border-bottom: 1px solid @color-menu-border;
  }
}

/* Search icon */
#datatable-controls ,
#overridetable .datatable-controls {
	#search-table {

		.icon-thumbnail{
			display:inline-block;
			line-height:32px;
			margin-right:0;
			cursor: pointer;
			height:34px;
			border-radius:2px;
			.pg-search{
				font-size:12px !important;
			}
		}
		.icon-thumbnail:focus,.icon-thumbnail:active,.icon-thumbnail:hover{
			opacity:0.9;
		}

		.search-without-icon{
			width: auto !important;
		}

	}
}


/*** General Small Screen Desktops ***/
/*** General tablets and phones ***/
@media (max-width: 991px){

	.page-container{
		z-index: auto;
		.transition(transform .5s ease);

	}
	
	.sm-action-bar {
	    line-height: 1;

		> a{
			padding: 26px 17px 23px 18px;
			display: inline-block;
			background: @color-menu-lighter;
			color: @color-menu-light;

			&:hover,
			&:focus{
				background: @color-menu-lighter;
			}
		}
	}
	
	.pace{
		.pace-activity {
    		top: 50%;

    	}
    }

  body.menu-pin,
  body.sidebar-visible{
	.page-sidebar{
	  button.stick-menu{
		display: none !important;
	  }
	}
  }
}

@media only screen and (max-width: 767px){
	.dataTables_wrapper{
		.dataTables_info,
		.dataTables_paginate{
			margin-top: 10px !important;
		}
	}

	.sm-action-bar {
		line-height: 1;

		> a{
			padding: 20px 17px 17px 18px;
		}
	}

	/* Handle bootstrap issue for .container-fluid .col padding-right issue. */
	.container-fluid{
		overflow-x: hidden;
	}

}

@media (max-width: 480px){
	.dataTables_wrapper{
		.dataTables_info,
		.dataTables_paginate{
			text-align: center !important;
		}
		
		.dataTables_paginate{
			padding: 0 20px !important;
			
			ul{
				padding-left: 0 !important;
			}
		}
	}

	.panel {
		.panel-heading{
			padding-right: 15px !important;
		}
	}

	#datatable-controls ,
	#overridetable .datatable-controls {
		#search-table {
			height: 36px;
		}
	}

  #datatable-controls,
  #overridetable .datatable-controls{
	.defaultBtnGroup {
	  width: 100% !important;
	}

	#group-addition,#invoice-upload {
	  width: 100% !important;
	}
  }
}


/*
	@template tpl/blocks/header.html
*/

.header{
	border-bottom-color: #1d1f34;
	padding: 0 !important;

	.brand{
		text-align: right;
		width: 228px;
		
		@media only screen and (max-width: 991px){
			/*width: auto;*/
		}
	}
	
	.header-inner{
		.menu-hambuger-plus{
			-webkit-tap-highlight-color: rgba(255,255,255,.25);
		}
	}
}

.page-sidebar{
	display: block !important;
    .box-shadow(none);

	@media only screen and (max-width: 991px){
        .transition(transform .5s ease);
		-webkit-transform: translate3d(-255px, 0px, 0px) !important;
				transform: translate3d(-255px, 0px, 0px) !important;

		&.visible{
			-webkit-transform: translate3d(0px, 0px, 0px) !important;
			transform: translate3d(0px, 0px, 0px) !important;
		}
	}

	.sidebar-menu{
		.menu-items{
			> li{
				> a{
					&:not(.dd-sb-menu){
						-webkit-tap-highlight-color: rgba(255,255,255,.25);
					}
					.title{
						display: inline-block;
						width: 90%;
					}
				}

				ul{
					&.sub-menu{
						> li{
							> a{
								-webkit-tap-highlight-color: rgba(255,255,255,.25);
							}
							.title{
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
}



.users-name{
	span{
		color: #FFF;
        vertical-align: middle;

        &.username-or-email{
          display: inline-block;
          text-align: right;
          text-overflow: ellipsis;
          width: 265px;
          white-space: nowrap;
          overflow: hidden;

          @media @MQ-XL{
            width: 165px;
          }
        }
	}
}

.icon-set{
	&.menu-hambuger-plus{
		&.grey{
			background: url('../img/icons/top_tray_ccc.png') no-repeat;
			position: relative;
			background-position: -77px -1px;
			width: 18px;
			height: 15px;
		}
	}
	
	&.menu-hambuger{
		&.grey{
			background: url('../img/icons/top_tray_ccc.png') no-repeat;
			position: relative;
			background-position: -58px -3px;
		    width: 15px;
		    height: 13px;
		}
	}
}

.modal-subHeader{
	padding-left: 4px;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 5px;
	background: #cccccc !important;
	border-bottom-width: 4px;
	margin-bottom: 4px;font-size: 12px;
	font-weight: 500;
	font-family: 'Montserrat';
}

.form-group-default{
	.ui-select-bootstrap{
		.ui-select-search-hidden{
			height: 0;
			min-height: 0;
			margin-top: 0;
		}
	}
}


.panel-title-color{
	color : #626262;
}

.ui-select-bootstrap .ui-select-no-choice {
	background-color: #fef6dd;
	color: #957d32;
	padding: 0 10px;
}

.modal-content .zoneStatusModal {
	max-height: 550px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom:0;
}

.zoneStatusModal .zoneStatusContainer {
	padding-bottom: 25px;
}

.panel-heading .exportAnchor{
	opacity: unset;
	color: #ffffff !important;
}

.panel-heading .exportDisabled{
	opacity: .65 !important;
	color: #ffffff !important;
}

.tier-error{
	color: #f55753;
}

.currency-input{
	display: inline-block;
	width: calc(100% - 20px) !important;
}

.currency-span{
	vertical-align: unset !important;
	margin-top: -4px;
}