/*
	tables.less

	@templates
		tpl/app/assets/users/users.html
		tpl/app/assets/sims/sims.html
		tpl/app/assets/groups/groups.html
		tpl/app/assets/alerts/enterprise-spend-alerts.html
		tpl/app/assets/alerts/zone-spend-alerts.html
		tpl/app/assets/alerts/per-sim-default-alerts.html
		tpl/app/assets/alerts/per-zone-per-sim-default-alerts.html
*/

.gs-data-table{

	&.with-editable-input{
		tbody,
		thead,
		.table tbody,
		.table thead {
			td:not(.checkbox-table-cell), th {
				padding: 10px 10px !important;
			}
		}
	}

	tbody,
	thead,
	.table tbody,
	.table thead{
		td, th{
            padding: 10px;
			vertical-align: middle;

			&:not(:first-child){
				padding-left: 20px !important;
				padding-right: 0px;
			}

			&:last-child{
				padding-right: 10px;
			}

			&.tdth-usage{
				min-width: 90px;
			}

			&.tdth-allocation{
				min-width: 152px;
			}

			&.tdth-nickname{
				min-width: 220px;
			}

			&.tdth-status{
				min-width: 80px;
			}
		}
	}


	.table-responsive{
		z-index: 0;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch; /* Mobile Safari 5.0+ - Momentum Scrolling */
		&::-webkit-scrollbar-track {
			border: none;
		}

	}
	.table.table-striped{
		tbody tr{
			&.row-selected,
			&.highlighted-row{
				td {
					background: #fffeea !important;
				}
			}
		}
	}

	table{
		border-top: 1px solid rgba(230, 230, 230, 0.7);

		&:not(.no-leading-checkbox){
			thead> tr > th:first-child{
				padding: 0 !important;
			}
		}

		&.no-leading-checkbox{
			tbody> tr > td:first-child{
				padding-left: 20px !important;
			}
		}

	  	&.dataTable{
		  &.customizedAction{
			thead{
			  background-color: #ccffff !important;
			}

			tbody tr td{
			  background-color: azure !important;
			}
		  }
		}

	  	&.table-striped{
		  &.customizedAction{
			tbody tr:nth-child(2n+1) td{
			  background-color: azure;
			}
		  }
		}
	}

	.checkbox-table-cell{
		width: 60px;
		padding: 0 !important;
		padding-left: 10px;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		-ms-touch-action: manipulation;

		&.sorting_asc{
			background-image: none !important;
		}

		label{
			margin-right: 0;
		}

		/* Quirk - Keep vertical align in the middle for iOS based devices */
		input[type="checkbox"]{
			display: none;
		}

		.checkbox,
		.radio{
			line-height: 1;
			margin-left: 10px;
		}
	}

	.radio-table-cell{
		padding: 0 !important;
		text-align: center;
		touch-action: manipulation;
		.radio label {
			margin-bottom: -5px;
		}
	}

	.exportOptions{
		display: none;
	}

	th{
		&.data-unit{
			&::after{
				vertical-align: baseline;
				text-transform: uppercase;
				line-height: 1;
				font-size: 80%;
				font-weight: 600;
				margin-left: 3px;
				content: 'in mb';
				display: inline-block;
				opacity: 0.7;
			}
			&.gb{
				&::after{
					content: 'in gb';
				}
			}
			&.kb{
				&::after{
					content: 'in kb';
				}
			}
		}
	}

	.usage-value{
		i{
			width: 26px;
			text-align: center;
		}
	}
}

body.modal-open{
	.gs-data-table{
		.table-responsive{
			overflow: hidden !important;
		}
	}
}

@media (max-width: 767px){

	.gs-data-table {
		.checkbox-table-cell{
			.checkbox,
			.radio{
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

}

.disableDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block !important;
  z-index: 999 !important;
  background-color: #fafafa !important;
  opacity: 0.5;
}

.table thead {
  tr {
	th[class*='sorting_disabled'] {
	  color: RGBA(112,112,112,1);
	}
  }
}

.dataTables_wrapper {
  .dataTables_paginate {
	ul {
	  > li.first,
	  > li.last {
		a {
		  opacity: 1;
		}
	  }

	  li.disabled{
		a:hover,a{
		  opacity: .35 !important;
		}
	  }
	}
  }
}