<div ng-controller="PricingInfoCtrl as pricingInfo">
    <div  role="tabpanel" aria-labelledby="zone_{{$index}}" test-arg="zone_{{pricingInfo.zone.zoneId}}" ng-if="editPricingObj.editMode" >
        <div class="panel-body p-t-5">
            <div class="alert alert-danger" role="alert" ng-show="pricingInfo.errorMessage">{{pricingInfo.errorMessage}}</div>
            <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" >
                <form name="enterpriseInfoForm"  role="form" novalidate gs-form-validation>
                    <fieldset>
                        <div>
                            <div class="pull-left mb-1-percent col-lg-12 no-padding">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="fg-wrap">
                                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                                <label for="unitType" ng-class="{fade : pricingInfo.unitType}">Unit</label>
                                                <ui-select ng-model="pricingInfo.unitType"  search-enabled="false" id="unitType" name="unitType" skip-focusser="true" theme="bootstrap" on-select="pricingInfo.onUnitChange(pricingInfo.unitType)">
                                                    <ui-select-match>{{pricingInfo.unitType}}</ui-select-match>
                                                    <ui-select-choices repeat="item in unitsAvailable">
                                                        <span ng-bind-html="pricingInfo.trustAsHtml (item)"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="fg-wrap">
                                            <div gs-pg-form-group class="form-group form-group-default">
                                                <label for="minimumCommitment" ng-class="{fade : pricingInfo.zone.bucketPricingInfo.minimumCommitment}">Minimum Commitment Price</label>
                                                <div class="controls">
                                                    <span>{{pricingInfo.currency}}</span>
                                                    <input type="number" min="0" id="minimumCommitment" name="minimumCommitment" class="form-control currency-input" maxlength="45" ng-model="pricingInfo.zone.bucketPricingInfo.minimumCommitment" ng-keypress="pricingInfo.validateInput($event)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gs-data-table">
                            <table class="table table-condensed" id="pricingInfoDataTable">
                                <thead>
                                <tr>
                                    <th id='tier' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey p-l-10-imp" >Tiers</th>
                                    <th id='start' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey" >Start Range</th>
                                    <th id='end' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey" >End Range</th>
                                    <th id='bucketSize' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey" >Bucket Size</th>
                                    <th id='bucketPrice' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey" >Bucket Price</th>
                                    <th id='actions' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-r b-dashed b-grey" >Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bucket in pricingBuckets | orderBy:'bucket.startRange'" test-arg="Tier {{$index+1}}">
                                    <td class="font-montserrat b-l b-dashed b-grey fs-12 col-lg-6">Tier {{$index+1}}</td>
                                    <td class="col-lg-3 b-l b-dashed b-grey" test-arg='startRange'>
                                        <span class="hint-text small" >{{$first?bucket.startRange:bucket.startRange = (pricingBuckets[$index-1].endRange)}}</span>
                                    </td>
                                    <td class="col-lg-3 b-l b-dashed b-grey p-r-20 form-group" test-arg='endRange'>
                                        <input ng-if="!$last" type="number" min="1" class="form-control" name="name" ng-model="bucket.endRange" ng-keypress="pricingInfo.validateInput($event)" required>
                                        <span ng-if="$last" class="hint-text small" >Infinity</span>
                                        <div class="fg-element-error"><span class="tier-error ws-normal" >{{errors[$index+1].endRange}}</span></div>
                                    </td>
                                    <td class="col-lg-3 b-l b-dashed b-grey p-r-20 form-group" test-arg='unitValue'>
                                        <input type="number" min="1" class="form-control" name="name" ng-model="bucket.unitValue" ng-keypress="pricingInfo.validateInput($event)" required>
                                        <div class="fg-element-error"><span class="tier-error ws-normal" >{{errors[$index+1].unitValue}}</span></div>
                                    </td>
                                    <td class="col-lg-3 b-l b-dashed b-grey p-r-20" test-arg='pricePerUnit'>
                                        <div class="form-group form-group-default m-b-0">
                                            <span class="currency-span">{{pricingInfo.currency}}</span>
                                            <input type="number" min="0" class="form-control inline-block" name="name" ng-model="bucket.pricePerUnit" ng-keypress="pricingInfo.validateInput($event)" required>
                                        </div>
                                        <div class="fg-element-error"><span class="tier-error ws-normal" >{{errors[$index+1].pricePerUnit}}</span></div>
                                    </td>
                                    <td class="col-lg-3 b-l b-r b-dashed b-grey">
                                        <div class="col-sm-6">
                                            <a href="javascript:void(0)" ng-if="$last"><i class="fa fa-plus-square-o fa-2x allow-overflow" aria-hidden="true" ng-click="addBucket(pricingBuckets,$index)"></i></a>
                                        </div>
                                        <div class="col-sm-6" ng-if="pricingBuckets.length!==1">
                                            <a href="javascript:void(0)" ng-if="$last"><i class="fa fa-minus-square-o fa-2x allow-overflow" aria-hidden="true" ng-click="removeBucket(pricingBuckets,$index)"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-12 m-t-10 pull-right">
                            <button type="button" class="btn btn-default " ng-click="pricingInfo.cancel()" >Cancel</button>
                            <button type="submit" class="btn btn-complete " ng-click="pricingInfo.savePricing(pricingInfo.zone)">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

