<div class="alert alert-danger" role="alert" ng-if="zonesPreview.errorMessage" ng-bind-html="zonesPreview.errorMessage"></div>
<div class="alert alert-warning" role="alert" ng-if="!zonesPreview.errorMessage" >{{zonesPreview.warningMessage}}</div>
<div class="panel panel-default">
    <div class="panel-heading auto-height">
        <div class=" panel-title p-b-10 panel-title-color">Zone Provisioning Preview</div>
    </div>
    <div class="alert alert-info m-r-20 m-l-20 m-b-0" role="alert" ng-if="!zonesPreview.errorMessage" >{{zonesPreview.infoMessage}}</div>
    <div class="row p-r-20">
        <div class="col-md-12 m-t-10 text-right">
            <button type="submit" class="btn btn-default" ng-click="zonesPreview.navigateToPricing()">Cancel</button>
            <button type="submit" class="btn btn-complete" ng-click="zonesPreview.submitChanges()" ng-disabled="disableSubmit">Save</button>
        </div>
    </div>
    <div class="panel-body gs-data-table">
        <div id="paceTableBlockDiv" class="paceDiv"></div>
        <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
            <thead>
            <tr>
                <th ng-repeat="header in dataTableObj.tableHeaders" >{{header.value}}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<form name="importZonesPreviewForm" action="#" class="dropzone modal-body" method="post" enctype="multipart/form-data" ng-dropzone dropzone="$root.importZoneDropZone" dropzone-config="$root.importZoneDropZoneConfig" modal-id="importZonesModal" ng-hide="true"></form>