<!-- Update Group -->
<form name="{{updateAssigneeModalObj.modal.formName}}" class="modal fade slide-up disable-scroll" id="{{updateAssigneeModalObj.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="UpdateAssigneeCtrl as updateAssigneeModalObj" novalidate gs-update-assignee>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" ng-click="updateAssigneeModalObj.modalCancel();" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
					<h4 class="m-t-0">{{updateAssigneeModalObj.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
	                    <div class="alert {{updateAssigneeModalObj.alertClass}}" role="alert" ng-show="updateAssigneeModalObj.isError">{{updateAssigneeModalObj.errorMessage}}</div>
	                    
                        <div class="form-group-attached">
                            <div class="row">
	                            <div class="col-sm-12">
		                            <div class="fg-wrap">
			                           <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
				                            <label>User</label>
                                           <div ng-hide="updateAssigneeModalObj.users.length==0">
                                            <ui-select id="assignee-user" ng-model="updateAssigneeModalObj.users.user" theme="bootstrap" skip-focusser="true" autofocus="true">
                                               <ui-select-match class="ui-select-match" placeholder="Select or search for an user">{{$select.selected.fullName}}</ui-select-match>
                                               <ui-select-choices class="ui-select-choices" repeat="item in updateAssigneeModalObj.users | filter: $select.search">
                                                   <span ng-bind-html="updateAssigneeModalObj.trustAsHtml((item.fullName | highlight: $select.search))"></span>
                                               </ui-select-choices>
                                               <ui-select-no-choice>
                                                   Your search doesn't match any existing users.
                                                   <div ng-if="$select.items.length == 0" gs-reset-selected-user></div>
                                               </ui-select-no-choice>
                                            </ui-select>
                                           </div>
                                           <div ng-show="updateAssigneeModalObj.groups.length==0">No Users Available!!!</div>

				                        </div>
                                        <div class="fg-element-error"><span style="color: red" ng-show="updateAssigneeModalObj.updateUserErrMsg"> {{ updateAssigneeModalObj.updateUserErrMsg }}</span></div>
									</div>
	                            </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <button type="button" class="btn btn-default m-t-5" ng-click="updateAssigneeModalObj.modalCancel();" data-dismiss="modal">{{updateAssigneeModalObj.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="updateAssigneeModalObj.modalSubmit()">{{updateAssigneeModalObj.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- /Update Group -->
