<!-- Zone Status -->
<div class="modal fade slide-up disable-scroll" id="{{zoneStatus.modal.id}}"  tabindex="-1" role="dialog" aria-hidden="false" ng-controller="ZoneStatusCtrl as zoneStatus">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{zoneStatus.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <div class="zoneStatusModal">
                    <div class="zoneStatusContainer">
                    <div class="row" ng-if="zoneStatus.simZonesStaus.showFullAccessMsg || zoneStatus.simZonesStaus.noAccessMsg">
                        <div class="alert" role="alert">{{zoneStatus.simZonesStaus.showFullAccessMsg ? 'This sim has full access for all zones' : 'This sim has no access for all zones'}}</div>
                    </div>

                    <div class="gs-mock-table user-table" ng-if="!zoneStatus.simZonesStaus.showFullAccessMsg && !zoneStatus.simZonesStaus.noAccessMsg">
                        <div class="mt-header">
                            <div>Zone</div>
                            <div>Status</div>
                        </div>

                        <div class="mt-row" ng-repeat="zone in zoneStatus.allZones">
                            <div>{{zone.nickName || zone.name}}</div>
                            <div>
                                <span class="status" ng-class="zone.status == 'ENABLED' ? 'active' : 'inactive'"></span>
                                <span class="status-text">{{zone.status}}</span>
                            </div>
                        </div>
                    </div>

                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="zoneStatus.modal.modalCancel()" data-dismiss="modal">{{zoneStatus.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="openView('/app/alerts/transpired',{simId : zoneStatus.simZonesStaus.simId})" ng-if="!zoneStatus.simZonesStaus.showFullAccessMsg && isUserInGemPortal()">{{zoneStatus.modal.submit}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- / Zone Status -->
