
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0" id="simList">
	<!-- START PANEL -->
	<div class="panel panel-default">
		<div class="panel-heading users-table-panel">
			<div id="datatable-controls" gs-datatable-controls>

				<!-- Dropdown -->
				<div id="dt-action-dd" class="dropdown hideInReadOnlyMode m-b-5" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="SIM_ACTIVATION,SIM_UPDATE_ASSOCIATION">
					<div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
					<div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="checkbox check-success large no-label-text">
							<input type="checkbox" value="1" id="checkbox_action">
							<label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
							<i class="fa fa-caret-down"></i>
						</div>
					</div>

					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.bulkAction,'Activate')"   gs-has-permission="SIM_ACTIVATION">Activate SIM(s)</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.bulkAction,'Deactivate')" gs-has-permission="SIM_ACTIVATION">Deactivate SIM(s)</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.bulkGroupUpdate)"   gs-has-permission="SIM_UPDATE_ASSOCIATION" ng-if="!resellerOrSubAccount">Add to Group</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.bulkGroupRemove)"   gs-has-permission="SIM_UPDATE_ASSOCIATION" ng-if="!resellerOrSubAccount">Remove from Group</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.moveSIMsToAccount)"   gs-has-permission="SIM_RESELLER_UPDATE_ASSOCIATION" ng-if="isResellerAccount">Move SIMs to account</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.moveSIMsToParent)"   gs-has-permission="SIM_RESELLER_UPDATE_ASSOCIATION" ng-if="isSubAccount">Move SIMs to parent</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.assignSIM)"         gs-has-permission="SIM_UPDATE_ASSOCIATION">Assign User</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(sims.unassignSIM)"       gs-has-permission="SIM_UPDATE_ASSOCIATION">Unassign User</a></li>
					</ul>
				</div>

				<!-- Search -->
				<gs-data-table-search table-obj="dataTableObj" search-val="sims.searchValue"></gs-data-table-search>
				<div class="clearfix visible-sm visible-xs"></div>

				<!-- Buttons -->
				<div class="btn-group sm-btn-halves m-b-5 defaultBtnGroup">
					<button class="btn btn-small btn-default" ng-class="{disabledComponent : isDisableComponent()}" ng-disabled="isDisableComponent()" ng-show="!isGemLite" ng-click="exportModal(true,sims.exportData);" gs-has-permission="SIM_READ">Export</button>
					<button class="btn btn-small btn-default" ng-click="sims.refreshDataUsage()" ng-class="{disabledComponent : isDisableRefreshComponent()}" ng-disabled="isDisableRefreshComponent()" gs-has-permission="REFRESH_DATAUSAGE"><i class="fa fa-refresh"></i> Refresh  <i class="fa fa-spinner fa-pulse" ng-show="isDisableRefreshComponent() && !isDisableComponent()"></i></button>
				</div>

				<!-- Filter -->
				<div class="w-smaller pull-right">
					<gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isDisableComponent()" enable-search="false"></gs-data-table-filter>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="panel-body gs-data-table with-editable-input">
			<div id="paceTableBlockDiv" class="paceDiv"></div>
			<table id="{{dataTableObj.tableID}}" class="table table-striped p-t-10 sm-p-t-0" width="100%" gs-generate-table-body>
				<thead>
				<tr>
					<th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Allocation:'tdth-allocation data-unit', Usage:'tdth-usage data-unit', Nickname:'tdth-nickname', Status: 'tdth-status'}[header.value]">{{header.value}}</th>
				</tr>
				</thead>

			</table>
		</div>
	</div>
	<!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<div ng-include="lazyLoadURL+'app/assets/sims/modal-update-assignee.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-update-group.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/data-usage/modal-bar-chart.html' "></div>
<div ng-include="lazyLoadURL+'app/assets/sims/modal-zone-status.html' "></div>

<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->
