<div class="container-fluid container-fixed-lg m-t-25" >
    <div class="panel panel-default" >
    <div class="row m-l-0 m-r-0">
        <div class="col-lg-12 col-md-12">

            <div class="row">
                <div>
                    <div class="container-fluid">
                        <ul id="dataUsageTab" class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
                            <li class="active" ng-click="categoryChange('enterprise',$event)">
                                <a data-toggle="tab" role="tab" href>Enterprise</span></a>
                            </li>
                            <li ng-click="categoryChange('zones',$event)">
                                <a id="zonesTab" data-toggle="tab" role="tab" href>Zone</span></a>
                            </li>
                            <li ng-if="!isSubAccount" ng-click="categoryChange('groups',$event)">
                                <a id="groupsTab" data-toggle="tab" role="tab" href>{{groupTabLabel}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
                <div class="pull-right m-t-10">
                    <div class="pull-right" style="min-width:210px;">

                        <a ng-href="{{url}}" class="m-r-10 m-l-10 pull-right"  ng-if="graphObj.data[0].values.length && enableImport" graph-upload
                           download ><span class="fa fa-download " style="font-size:22px;vertical-align: bottom;"></span></a>
                        <div class="form-group form-group-default input-group m-l-10" style="border:1px solid #a6a6a6">
                            <input date-range-picker id="daterangepicker1" options="opts" class="form-control date-picker"
                                   type="text" ng-model="datePicker" dp-change="dateChange" readonly style="color: black;"/>
                        </div>
                    </div>
                    <div class="pull-right">
                        <select class="cs-select cs-skin-slide m-l-10 graph-options" data-init-plugin="cs-select" ng-model="graphType"
                                ng-change="graphTypeChange()">
                            <option value="multiBarChart">Bar</option>
                            <option value="stackedAreaChart">Area</option>
                        </select>

                        <select class="cs-select cs-skin-slide m-l-10 graph-options" data-init-plugin="cs-select" ng-model="groupBy"
                                ng-change="groupByChange()">
                            <option value="DAY" ng-disabled="!groupbyDayEnabled">Days</option>
                            <option value="MONTH">Months</option>
                        </select>
                    </div>


                </div>

            <div style="clear:both"></div>
            <div>
                <div>
                    <nvd3 options='graphObj.options' data='graphObj.data' api='graphObj.api' ng-cloak id="historicalGraph" test-arg="graphObj"></nvd3>
                </div>
            </div>
            <div class="company-stat-boxes m-r-15 m-l-10" ng-show="graphObj.data.length > 1">
                <div class="padding-5 p-l-20 p-r-10">
                    <span class="all-caps">{{(category=='groups' && isResellerAccount) ? 'accounts' : category}}</span>
                    <div class="pull-right all-caps">{{legendUsageLabel}}</div>
                </div>
                <div class="list-group" style="max-height: 410px;overflow: auto;">
                    <a href="" ng-click="legendElementClick($index)" class="list-group-item"
                       ng-class="{'opacity-2':graphObj.api.getScope().chart.state().disabled[$index] && ($index<enabledLegendItems || legendSelected)}"
                       ng-repeat="group in graphObj.data">
                        <span ng-show="!group.disabled || $index< enabledLegendItems" class="fa fa-circle fs-11"
                              ng-style="{color: group.color}"></span> {{group.key}}
                        <div class="pull-right">
                            <p class="small hint-text no-margin inline">{{group.totalDataUsage}}</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    </div>
</div>