<div class="scroll-links-container">
    <div class="scroll-links-wrapper">
        <ul>
            <li><gs-scroll-link data-link-id="roamingProfileDetail" data-offset="111" title="Go to Roaming Profile Detail">Roaming Profile Detail</gs-scroll-link></li>
            <li><gs-scroll-link data-link-id="roamingProfileImportExport" data-offset="111" title="Go to Roaming Profile Import/Export">Import/Export</gs-scroll-link></li>
            <li><gs-scroll-link data-link-id="roamingProfileCountries" data-offset="111" title="Go to Countries table">Countries</gs-scroll-link></li>
            <li><gs-scroll-link data-link-id="roamingProfileNetworks" data-offset="111" title="Go to Networks table">Networks</gs-scroll-link></li>
            <li ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PUBLISHED'"><gs-scroll-link data-link-id="roamingProfileEnterprises" data-offset="111" title="Go to Enterprises table">Enterprises</gs-scroll-link></li>
        </ul>
    </div>
</div>
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="row" id="roamingProfileDetail">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export p-b-20">
                <div>
                    <div class="m-l-45 m-r-45">

                        <form name="IMSIProfileForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" novalidate gs-form-validation>
                            <div ng-if="roamingProfileVersionVm.roamingProfileInfo.status != 'PUBLISHED'">
                                <div class="form-group" id="name">
                                    <label for="name" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <span class="bold" id="name">{{roamingProfileVersionVm.roamingProfileInfoEdit.roamingProfileName}}</span>
                                    </div>
                                </div>
                                <div class="form-group" id="statusDropDown">
                                    <label class="col-sm-3 control-label">Status</label>
                                    <div class="col-sm-9">
                                        <ui-select  ng-model="roamingProfileVersionVm.roamingProfileInfoEdit.status" search-enabled='false' theme="bootstrap">
                                            <ui-select-match>{{roamingProfileVersionVm.roamingProfileInfoEdit.status | underscoreless}}</ui-select-match>
                                            <ui-select-choices repeat="item in roamingProfileVersionVm.statuses">
                                                <span ng-bind-html="item | underscoreless"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea id="input_roamingProfileDesc" class="form-control" name="input_roamingProfileDesc" ng-model="roamingProfileVersionVm.roamingProfileInfoEdit.description" required gslabel="Description"></textarea>
                                        <div class="fg-element-error"><span style="color: red" ng-if="IMSIProfileForm.input_roamingProfileDesc.errorStr">{{IMSIProfileForm.input_roamingProfileDesc.errorStr}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PUBLISHED'">
                                <div class="bg-white">
                                    <!-- SIM Details -->
                                    <div class="sbs-lv-table full-width" style="margin: 0px">
                                        <div class="lv-row">
                                            <div class="l-cell">Name :</div>
                                            <div class="v-cell ng-binding">{{roamingProfileVersionVm.roamingProfileInfo.roamingProfileName}}</div>
                                        </div>
                                        <div class="lv-row">
                                            <div class="l-cell">Published date(UTC) :</div>
                                            <div class="v-cell ng-binding">{{roamingProfileVersionVm.roamingProfileInfo.updatedTime}}</div>
                                        </div>
                                        <div class="lv-row">
                                            <div class="l-cell">Status :</div>
                                            <div class="v-cell ng-binding"><span class="roaming-profile-status {{roamingProfileVersionVm.roamingProfileInfo.status}}">{{roamingProfileVersionVm.roamingProfileInfo.status}}</div>
                                        </div>
                                        <div class="lv-row">
                                            <div class="l-cell">Description :</div>
                                            <div class="v-cell ng-binding">{{roamingProfileVersionVm.roamingProfileInfo.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PENDING_HLR_UPDATE'">
                                <label class="col-sm-3 control-label">IMSI Profiles</label>
                                <div class="col-sm-9">
                                    <div class="sbs-lv-table full-width" style="margin: 0px">
                                        <div class="form-group">
                                        <div class="lv-row">
                                            <div class="l-cell">IMSIProfile</div>
                                            <div class="v-cell p-l-15 bold">2G-3G HLR RP ID</div>
                                            <div class="v-cell p-l-15 bold">4G HLR RP ID</div>
                                        </div>
                                        <div class="lv-row" ng-repeat="IMSIProfile in roamingProfileVersionVm.roamingProfileInfoEdit.IMSIProfileList">
                                            <div class="l-cell">{{IMSIProfile.imsiProfileName}}</div>
                                            <div class="v-cell ng-binding">
                                                <input label="{{IMSIProfile.imsiProfileName}}HLR2G3GID" name="{{IMSIProfile.imsiProfileName}}HLR2G3GID" gslabel="2G-3G HLR RP ID" type="text" class="form-control" ng-model="IMSIProfile['HLR-2G3G-ID']">

                                            </div>
                                            <div class="v-cell ng-binding">
                                                <input label="{{IMSIProfile.imsiProfileName}}HLR4GID" name="{{IMSIProfile.imsiProfileName}}HLR4GID" gslabel="4G HLR RP ID" type="text" class="form-control" ng-model="IMSIProfile['HLR-4G-ID']">

                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PUBLISHED'">
                                <div class="panel-heading">
                                    <div class="panel-title">IMSI Profiles
                                    </div>
                                </div>
                                <div class="overflow-wrapper" style="min-height: 100px" id="roamingProfileVersionIMSIDetail">
                                    <div class="gs-mock-table">
                                        <div class="mt-header">
                                            <div>Profile</div>
                                            <div>2G-3G HLR RP ID</div>
                                            <div>4G HLR RP ID</div>
                                        </div>
                                        <div class="mt-row" ng-repeat="IMSIProfile in roamingProfileVersionVm.roamingProfileInfoEdit.IMSIProfileList">
                                            <div>{{IMSIProfile.imsiProfileName}}</div>
                                            <div>{{IMSIProfile["HLR-2G3G-ID"]}}</div>
                                            <div>{{IMSIProfile["HLR-4G-ID"]}}</div>
                                        </div>
                                    </div>
                                    <div ng-if="roamingProfileVersionVm.coverageInfo.list.length == 0" class="no-data">There is no data to display.</div>
                                </div>
                            </div>
                            <div class="row" ng-if="roamingProfileVersionVm.roamingProfileInfo.status != 'PUBLISHED'">
                                <div class="col-xs-12 m-t-10">
                                    <button type="submit" class="btn btn-complete m-r-10 pull-right" style="min-width: 25%" ng-click="saveIMSIProfile(IMSIProfileForm)">Save Changes</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="roamingProfileImportExport">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Roaming Profile - Network Information
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-xs-6 m-t-10 p-l-25">
                        <button type="submit" class="btn btn-complete m-r-10" style="min-width: 50%" ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PENDING'" ng-click="showUploadRoamingProfileModal()">Import</button>
                    </div>
                    <div class="col-xs-6 m-t-10">
                        <a ng-href="{{coverageInfoExportUrl}}" class="btn btn-complete btn-complete m-r-10 pull-right" style="min-width: 50%" download ng-click="roamingProfileVersionVm.exportStartMessage()" ng-if="roamingProfileVersionVm.roamingProfileInfoEdit.IMSIProfileList.length>0">Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row" id="roamingProfileCountries">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Countries
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/version/roaming-profile-version-countries.html'"
                         ng-controller="RoamingProfileVersionCountriesCtrl as roamingProfileVersionCountriesVm"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="roamingProfileNetworks">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Networks
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/version/roaming-profile-version-networks.html'"
                         ng-controller="RoamingProfileVersionNetworksCtrl as roamingProfileVersionNetworksVm"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="roamingProfileVersionVm.roamingProfileInfo.status === 'PUBLISHED'" id="roamingProfileEnterprises">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Enterprises
                    </div>
                </div>
                <div class="panel-body">

                    <div class="overflow-wrapper" style="min-height: 100px" id="roamingProfileVersionEnterprises">
                        <div class="gs-mock-table">
                            <div class="mt-header">
                                <div>Enterprise Name</div>
                                <div>SIMs</div>

                            </div>
                            <div class="mt-row" ng-repeat="enterprise in roamingProfileVersionVm.enterprises">
                                <div><a ui-sref="support.enterprise.roamingProfiles({accountId: {{enterprise.accountId}}})" class="cursor">{{enterprise.accountName}}</a></div>
                                <div>{{enterprise.simsCount}}</div>
                            </div>
                        </div>
                        <div ng-if="roamingProfileVersionVm.enterprises.length == 0" class="no-data">No enterprises are associated to this Roaming Profile revision.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/modal-upload-roaming-profile.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/warning.html'"></div>