<form name="{{exportModal.modal.formName}}" class="modal fade slide-up disable-scroll" id="{{exportModal.modal.id}}" tabindex="-1" role="dialog" novalidate aria-hidden="false" gs-export-modal>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">{{exportModal.modal.header}}</h4>
                </div>

                <div class="modal-body">
                    <fieldset>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio-header font-montserrat">
                                    Specify which table entries you would like to export<span class="required"></span>
                                </div>

                                <div class="form-group radio radio-primary">
                                    <input type="radio" ng-model="exportOption" value="1" name="rowEntries" id="export-all-entries" ng-change="handleRadioState()">
                                    <label for="export-all-entries" class="export-label">Export all rows (Limit 5000)</label>
                                </div>
                                <div class="form-group radio radio-primary">
                                    <input type="radio" value="2" ng-model="exportOption" name="rowEntries" id="export-set-entries" ng-change="handleRadioState()">
                                    <label for="export-set-entries" class="export-label xs-export-m-r-35">Export Pages</label> <input type="number" ng-model="exportPageStart" name="rowRange" step="1"  min="0" class="export-range no-spinners xs-export-m-l-9" gs-type-number> to <input type="number" name="rowRange" ng-model="exportPageEnd" step="1" min="0" class="export-range no-spinners" gs-type-number>
                                    <div class="fg-element-error"><span style="color: red" ng-if="errorStr != false"> {{ errorStr }}</span></div>
                                </div>
                                <div class="form-group radio radio-primary">
                                    <input type="radio" value="3" ng-model="exportOption" name="rowEntries" id="export-visible-entries" ng-change="handleRadioState()">
                                    <label for="export-visible-entries" class="export-label">Export visible table rows.</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="exportModal.modal.modalCancel()" data-dismiss="modal">{{exportModal.modal.cancel}}</button>
                            <a ng-click="handleClickForValidation($event)" ng-href="{{exportModal.url}}" class="btn btn-complete m-t-5" download>{{exportModal.modal.submit}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>