<div class="page-sidebar" data-pages="sidebar" gs-pg-sidebar>
  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>
  <div class="sidebar-header">
    <div class="inline" ng-include="lazyLoadURL+'app/assets/common/tpl/ep-logo.html'"></div>
    <div class="sidebar-header-controls">
      <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline stick-menu" type="button">
        <span>Stick Menu</span>
        <i class="fa fs-12"></i>
      </button>
    </div>
    <a href="javascript:void(0)" class="btn-link toggle-sidebar toggle-sidebar-tablet">
      <span class="icon-set grey menu-hambuger"></span>
    </a>
  </div>

  <div class="sidebar-menu">
    <ul class="menu-items body">
      <li class="m-t-30 stand-alone showCursor" ng-click="openView('/app/home')">
        <a>
          <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-home"></i></span>
      </li>
      <li class="" gs-has-permission="SIM_READ,USER_READ,ACCOUNT_READ">
        <a href="javascript:void(0);" class="dd-sb-menu showCursor">
          <span class="title">Management</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-wrench"></i></span>
        <ul class="sub-menu">
          <li class="showCursor" ng-click="goToState('app.sims')"  gs-has-permission="SIM_READ">
            <a>SIM Management</a>
            <span class="icon-thumbnail"><i class="fa fa-signal"></i></span>
          </li>
          <li class="showCursor" ng-click="goToState('app.users')" gs-has-permission="USER_READ">
            <a>User Management</a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
          </li>
          <li ng-if="!resellerOrSubAccount" class="showCursor" ng-click="goToState('app.groups')" gs-has-permission="ACCOUNT_READ">
            <a>Group Management</a>
            <span class="icon-thumbnail"><i class="fa fa-group"></i></span>
          </li>
          <li ng-if="isResellerAccount" class="showCursor" ng-click="goToState('app.sub-accounts')" gs-has-permission="ACCOUNT_READ">
            <a>Account Management</a>
            <span class="icon-thumbnail"><i class="fa fa-group"></i></span>
          </li>
        </ul>
      </li>
      <li class="" gs-has-permission="GET_ALERT" ng-show="isAlertEnabled && !isGemLite">
        <a href="javascript:void(0);" class="dd-sb-menu showCursor">
          <span class="title">Actions</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-bell"></i></span>
        <ul class="sub-menu">
          <li class="showCursor" ng-click="openView('/app/alerts/account/enterprise-spend')">
            <a>Account Actions</a>
            <span class="icon-thumbnail"><i class="fa fa-bell"></i></span>
          </li>
          <li class="showCursor" ng-click="openView('/app/alerts/transpired')">
            <a>Alerts</a>
            <span class="icon-thumbnail"><i class="fa fa-bell-o text-danger"></i></span>
          </li>
        </ul>
      </li>
      <li class="showCursor" ng-click="openView('/app/data-usage-historical')" ng-show="!isGemLite" gs-has-permission="READ_DATAUSAGE">
        <a>
          <span class="title">Data Usage</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-area-chart"></i></span>
      </li>
      <li class="showCursor" ng-click="goToState('app.reports.invoices')" gs-has-permission="READ_INVOICE" ng-if="!isSubAccount || isResellerAccount">
        <a>
          <span class="title">Reports</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-file-text-o"></i></span>
      </li>
      <li class="showCursor" gs-has-permission="ACCOUNT_READ,ACCOUNT_EDIT">
        <a href="javascript:;" class="dd-sb-menu">
          <span class="title">Settings</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-wrench"></i></span>
        <ul class="sub-menu">
          <li class="showCursor" ng-click="openView('/app/profile/account-information')" ng-show="!isSupport" gs-has-permission="ACCOUNT_READ,ACCOUNT_EDIT">
            <a>Profile Settings</a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
          </li>
          <li ng-click="openView('/app/settings/enterprise-details')" class="showCursor" gs-has-permission="ACCOUNT_READ, ACCOUNT_EDIT">
            <a>Enterprise Settings</a>
            <span class="icon-thumbnail"><i class="pg-settings_small"></i></span>
          </li>
          <li ng-click="openView('/auth/select-account')" class="showCursor" ng-show="hasMultiAccount && !isSupport">
            <a>Switch Accounts</a>
            <span class="icon-thumbnail"><i class="fa fa-exchange"></i></span>
          </li>
        </ul>
      </li>
      <li  ng-click="isSupport || (isSubAccount && isNavigatedThroughAdmin) ? onGemViewExit() : appObj.logout()" class="showCursor">
        <a href="javascript:void(0);">
          <span class="title">{{isSupport || (isSubAccount && isNavigatedThroughAdmin) ? 'Exit' : 'Sign out'}}</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-sign-out"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>