<div class="tab-pane slide-left active" id="enterpriseDetails" gs-has-permission="ACCOUNT_EDIT,ACCOUNT_READ">
    <form name="enterpriseDetailsForm" class="" role="form" novalidate gs-form-validation>
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="enterpriseDetails.errorMessage">{{enterpriseDetails.errorMessage}}</div>
            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="companyName" ng-class="{fade : enterpriseDetails.account.companyName}">Company Name</label>
                    <div class="controls">
                        <input type="text" id="companyName" name="companyName" class="form-control" maxlength="45" ng-model="enterpriseDetails.account.companyName" required>
                    </div>
                </div>
                <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.companyName.errorStr"> {{ enterpriseDetailsForm.companyName.errorStr }}</span></div>
            </div>
            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="address1" ng-class="{fade : enterpriseDetails.account.address1}">Address 1</label>
                    <div class="controls">
                        <input type="text" id="address1" name="address1" class="form-control" ng-model="enterpriseDetails.account.address1" required>
                    </div>
                </div>
                <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.address1.errorStr"> {{ enterpriseDetailsForm.address1.errorStr }}</span></div>
            </div>
            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default">
                    <label for="address2" ng-class="{fade : enterpriseDetails.account.address2}">Address 2</label>
                    <div class="controls">
                        <input type="text" id="address2" name="address2" class="form-control" ng-model="enterpriseDetails.account.address2">
                    </div>
                </div>
                <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.address2.errorStr">Address invalid</span></div>
            </div>
            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="city" ng-class="{fade : enterpriseDetails.account.city}">City</label>
                    <div class="controls">
                        <input type="text" id="city" name="city" class="form-control" ng-model="enterpriseDetails.account.city" maxlength="45" required>
                    </div>
                </div>
                <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.city.errorStr"> {{ enterpriseDetailsForm.city.errorStr }}</span></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default required">
                            <label for="state" ng-class="{fade : enterpriseDetails.account.state}">Province/State</label>
                            <div class="controls">
                                <input type="text" id="state" name="state" class="form-control" ng-model="enterpriseDetails.account.state" maxlength="45" required>
                            </div>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.state.errorStr"> {{ enterpriseDetailsForm.state.errorStr }}</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default required">
                            <label for="postalCode" ng-class="{fade : enterpriseDetails.account.postalCode}">Postal Code</label>
                            <div class="controls">
                                <input type="text" id="postalCode" name="postalCode" class="form-control" ng-model="enterpriseDetails.account.postalCode" maxlength="45" required>
                            </div>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.postalCode.errorStr"> {{ enterpriseDetailsForm.postalCode.errorStr }}</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label for="country" ng-class="{fade : enterpriseDetails.account.country}">Country</label>
                            <ui-select ng-model="enterpriseDetails.account.country" id="country" name="country" theme="bootstrap" skip-focusser="true" ng-disabled="disableUISelect" required>
                                <ui-select-match
                                        placeholder="Select or search for a country">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        group-by="'region'"
                                        repeat="item in enterpriseDetails.countries | filter: $select.search">

                                    <span ng-bind-html="enterpriseDetails.account.trustAsHtml((item.name | highlight: $select.search))"></span>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    Your search doesn't match any existing countries.
                                </ui-select-no-choice>
                            </ui-select>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.country.errorStr"> {{ enterpriseDetailsForm.country.errorStr }}</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div class="form-group form-group-default form-group-default-select">
                            <label for="currency" ng-class="{fade : enterpriseDetails.account.currency}">Currency</label>
                            <div class="controls">
                                <input type="text" id="currency" name="currency" class="form-control" ng-model="enterpriseDetails.account.currency" maxlength="45" disabled>
                            </div>
                        </div>
                        <div class="fg-element-error"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div class="form-group form-group-default form-group-default-select">
                            <label for="timezone" ng-class="{fade : enterpriseDetails.account.timezone}">Timezone</label>
                            <div class="controls">
                                <input type="text" id="timezone" name="currency" class="form-control" ng-model="enterpriseDetails.account.timezone" disabled>
                            </div>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.timezone.errorStr"> {{ enterpriseDetailsForm.timezone.errorStr }}</span></div>
                    </div>
                </div>
                <!-- Account Subscription type --->
                <div class="col-sm-6" ng-show="isRBACEnabled">
                    <div class="fg-wrap">
                        <div gs-pg-form-group ng-class="enterpriseDetails.isGSAdmin ? 'form-group form-group-default form-group-default-select required': 'form-group form-group-default form-group-default-select required'">
                            <label for="subscriptionType" ng-class="{fade : enterpriseDetails.account.accountSubscriptionType}">Account Subscription</label>
                            <ui-select ng-model="enterpriseDetails.account.accountSubscriptionType" ng-disabled="isNonGSAdmin" id="subscriptionType" name="subscriptionType" skip-focusser="true" theme="bootstrap">
                                <ui-select-match
                                        placeholder="Select or search subscription type">
                                    {{$select.selected }}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in enterpriseDetails.subscriptionTypes | filter: $select.search">

                                    <span ng-bind-html="enterpriseDetails.account.trustAsHtml((item | highlight: $select.search))"></span>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    Your search doesn't match any predefined subscription types.
                                </ui-select-no-choice>
                            </ui-select>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseDetailsForm.subscriptionType.errorStr"> {{ enterpriseDetailsForm.subscriptionType.errorStr }}</span></div>
                    </div>

                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12 m-t-10">
                <button type="submit" class="btn btn-complete" ng-click="enterpriseDetails.updateEnterpriseDetails(enterpriseDetailsForm)">Update</button>
            </div>
        </div>
    </form>
</div>