<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">

    <div ng-controller="GapSIMDetailCtrl as SIMDetailVM" test-arg="SIMDetail">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-transparent" >
                    <div class="panel-body no-padding">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/sim-details/sim-basic-detail.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12" gs-has-permission="SIM_READ_ADVANCED,SIM_READ_EXTENDED">
            <div class="panel panel-transparent" >
                <div class="panel-body no-padding">
                    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/imsi-profiles/imsi-profiles.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-controller="GapLocationHistoryCtrl as locationHistory" test-arg="locationHistory">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Location History
                    </div>
                    <div class="pull-right datatable-controls" gs-datatable-controls>
                        <div class="w-smaller">
                            <button class="btn btn-small btn-default  m-b-5 m-r-5"  ng-disabled="isPageSizeFilterDisabled"  ng-click="exportModal(true,locationHistory.exportData);" gs-has-permission="SIM_LOCATION_READ_ADVANCED">Export</button>
                            <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/location-history/location-history.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-controller="GapCallDateRecordsCtrl as cdrVm" test-arg="callDateRecords">
                <div class="panel-heading m-b-5">
                    <div class="panel-title p-t-10">
                        Call Data Records
                    </div>
                    <div class="pull-right datatable-controls" gs-datatable-controls>
                        <div class="w-smaller">
                            <button class="btn btn-small btn-default  m-b-5 m-r-5"  ng-disabled="isPageSizeFilterDisabled" ng-click="exportModal(true,cdrVm.exportData);" gs-has-permission="SIM_CDR_READ_ADVANCED">Export</button>
                            <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/cdr/sim-cdr.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" gs-has-permission="SIM_READ_ADVANCED">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export" ng-controller="OTAHistoryCtrl as OTSHistory" test-arg="OTAHistory">
                <div class="panel-heading m-b-5">
                    <div class="panel-title">
                        OTA History
                    </div>
                    <div class="pull-right datatable-controls" gs-datatable-controls>
                        <div class="w-smaller">
                            <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/ota-history/ota-history.html'"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->

