<div id="simDetails">
    <div class="sim-details-wrapper bg-white">
        <div class="like-panel-title">
            <span class="pull-left">SIM Details</span>
            <a href="javascript:void(0);" title="Expand to see more SIM information" class="pull-right"
               ng-click='isSIMExpanded = !isSIMExpanded'>{{expOrCol}}</a>

            <div class="clearfix"></div>
        </div>

        <!-- SIM Details -->
        <div class="sbs-lv-table row-border full-width">
            <div class="lv-row">
                <div class="l-cell">
                    <span>GigSky ICCID</span>
                </div>
                <div class="v-cell">{{SIMDetailVM.SIM.simId}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">Nickname</div>
                <div class="v-cell">{{SIMDetailVM.SIM.nickName}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">SIM Type</div>
                <div class="v-cell">{{SIMDetailVM.SIM.simType | underscoreless}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">Activated (UTC)</div>
                <div class="v-cell">{{SIMDetailVM.SIM.addedToAccountOn}}</div>
            </div>
        </div>
        <!-- / SIM Details -->

        <gs-collapse collapse='isSIMExpanded'>
            <!-- Additional SIM Details -->
            <div class="sbs-lv-table row-border full-width m-b-0">
                <div class="lv-row">
                    <div class="l-cell">SIM Status</div>
                    <div class="v-cell">{{SIMDetailVM.SIM.status}}</div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">IMSI Profile</div>
                    <div class="v-cell"><span class="block-cell">{{SIMDetailVM.imsiProfile}}</span> <button gs-has-permission="SIM_EDIT_ADVANCED" type="button" style="float: right" ng-disabled="SIMDetailVM.isSingleImsi" class="btn btn-small btn-default" ng-click="SIMDetailVM.switchIMSI()">Switch IMSI</button></div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">Preferred IMSI</div>
                    <div class="v-cell"><span ng-repeat="IMSI in SIMDetailVM.SIM.preferredIMSIProfilesList">{{IMSI.profile}}<span ng-if="SIMDetailVM.SIM.preferredIMSIProfilesList.length > 1">({{IMSI.priority}})<span ng-if="!$last">,</span></span></span></div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">MSISDN</div>
                    <div class="v-cell">{{SIMDetailVM.msisdn}}</div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">Switch IMSI Mode</div>
                    <div class="v-cell"><span class="block-cell">{{SIMDetailVM.SIM.switchIMSIMode}}</span> <button gs-has-permission="SIM_EDIT_ADVANCED" type="button" style="float: right" ng-disabled="SIMDetailVM.isSingleImsi" class="btn btn-small btn-default" ng-click="SIMDetailVM.verifySwitchIMSIMOde(SIMDetailVM.SIM.switchIMSIMode)">{{SIMDetailVM.SIM.switchIMSIMode =='MANUAL'?'Change to Automatic mode':'Change to Manual mode'}}</button></div>
                </div>
                <div class="lv-row" gs-has-permission="SIM_READ_ROAMING_PROFILE">
                    <div class="l-cell">Roaming Profile</div>
                    <div class="v-cell"  ng-if="SIMDetailVM.roamingProfileName"> <a ui-sref="support.roamingProfile.version({RPSetId:{{SIMDetailVM.roamingProfileSetId}},versionId:{{SIMDetailVM.roamingProfileId}}})" class="cursor">{{SIMDetailVM.roamingProfileName}}</a></div>
                    <div class="v-cell" ng-if="!SIMDetailVM.roamingProfileName">Legacy</div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">Assigned User</div>
                    <div class="v-cell">{{SIMDetailVM.user}}</div>
                </div>
                <div ng-if="!resellerOrSubAccount" class="lv-row">
                    <div class="l-cell">Group</div>
                    <div class="v-cell">{{SIMDetailVM.group}}</div>
                </div>
            </div>
            <!-- / Additional SIM Details -->

        </gs-collapse>

    </div>
</div>

<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/imsi-profiles/modal-switch-imsi.html'"></div>