<div class="scroll-links-container" data-ng-show="$state.includes('support.sim.simDetail')">
	<div class="scroll-links-wrapper">
		<ul>
			<li><gs-scroll-link data-link-id="imsiProfileTable" data-offset="111" title="Go to the IMSI Profiles Table">IMSI Profiles</gs-scroll-link></li>
			<li><gs-scroll-link data-link-id="gapLocationHistoryDataTable" data-offset="111" title="Go to the Location History Table">Location History</gs-scroll-link></li>
			<li><gs-scroll-link data-link-id="gapCdrListDataTable" data-offset="111" title="Go to the CDR Table">CDRs</gs-scroll-link></li>
			<li><gs-scroll-link data-link-id="OTAHistoryDataTable" data-offset="111" title="Go to the Ota Message History table">Ota Message History</gs-scroll-link></li>
		</ul>
	</div>
</div>

<div class="container-fluid container-fixed-lg gs-data-table m-t-25" id="sims-profile">
	<div class="row">
		<div class="col-md-12">
			<div class="tab-content allow-overflow" id="overridetable">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
</div>