<div class="tab-pane slide-left" id="generalInfo">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Associated SIMs</div>
        </div>
        <div class="panel-body">
            <ol class="info-list">
                <li ng-repeat="sim in generalInfo.generalInfo.sims | limitTo:3">
                    <span class="sim-iccid">{{sim.simId}}</span>
                    <span class="sim-nickname">{{sim.nickName}}</span>
                </li>
            </ol>
            <span class="sm-block" ng-if="generalInfo.generalInfo.sims.length > 3"><a href="" ng-click="generalInfo.generalInfo.showMoreSims()">More...</a></span>
            <span ng-if="!generalInfo.generalInfo.sims.length">No sims are associated to current user</span>
        </div>
        <div class="panel-heading" ng-show="false">
            <div class="panel-title">Groups and Roles</div>
        </div>
        <div class="panel-body" ng-show="false">
            <ol class="info-list">
                <li><span class="association">Group</span>{{generalInfo.generalInfo.group}}</li>
                <li><span class="association">Roles</span>[Enterprise Admin, Group Admin, Enterprise User]</li>
            </ol>
        </div>
    </div>
</div>