<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="panel panel-default mobile-tabs-top">
        <div class="tab-content bg-white alerts-tab-content">
            <div class="tab-pane slide-left active">
                <div class="panel panel-transparent">
                    <div class="panel-heading m-b-5">
                        <div id="datatable-controls" gs-datatable-controls>
                            <div class="btn-group inline-block m-b-5" gs-has-permission="CREATE_ROAMING_PROFILE_SET">
                                <button type="submit" class="btn btn-complete m-r-10 pull-left" ng-click="showCreateRoamingProfileSetModal()">Create new set</button>
                            </div>
                            <div class="clearfix visible-xs"></div>

                            <div class="w-smaller pull-right">
                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                            </div>
                            <div class="clearfix visible-xs"></div>
                        </div>
                    </div>
                    <div class="panel-body gs-data-table">
                        <div id="paceTableBlockDiv" class="paceDiv"></div>
                        <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                            <thead>
                            <tr>
                                <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
            <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/sets/create-roaming-profile-set.html'"></div>
            <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/enterprises-modal.html'"></div>
        </div>
    </div>
</div>