<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <!-- START PANEL -->
    <div class="panel panel-default">
        <div class="panel-heading users-table-panel">
			<div id="datatable-controls" gs-datatable-controls>

				<!-- Dropdown -->
				<div id="dt-action-dd" class="dropdown hideInReadOnlyMode m-b-5" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="USER_UPDATE_ASSOCIATION,USER_DELETE">
					<div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
					<div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-disabled="true">
						<div class="checkbox check-success large no-label-text">
							<input type="checkbox" value="1" id="checkbox_action">
							<label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
							<i class="fa fa-caret-down"></i>
						</div>
					</div>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(users.bulkGroupUpdate)" gs-has-permission="USER_UPDATE_ASSOCIATION" ng-if="!resellerOrSubAccount">Add to Group</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(users.bulkGroupRemove)" gs-has-permission="USER_UPDATE_ASSOCIATION" ng-if="!resellerOrSubAccount">Remove from Group</a></li>
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(users.verifyDeletion)" gs-has-permission="USER_DELETE">Delete</a></li>
					</ul>
				</div>

				<!-- Search -->
				<gs-data-table-search table-obj="dataTableObj" search-val="users.searchValue"></gs-data-table-search>
				<div class="clearfix visible-sm visible-xs"></div>

				<!-- Buttons -->
				<div id="user-addition" class="btn-group sm-btn-halves m-b-5">
					<button type="button" class="btn btn-default single-user icon-btn hideInReadOnlyMode" ng-click="users.addUser()" data-toggle="tooltip" title="Add User" gs-has-permission="USER_CREATE"><i class="fa fa-user"></i><i class="fa fa-plus"></i></button>
					<button type="button" class="btn btn-default bulk-upload icon-btn hideInReadOnlyMode" ng-click="dataTableObj.bulkUpload('bulkUploadUsersModal')" data-toggle="tooltip" title="Bulk Upload Users" ng-show="!isGemLite" gs-has-permission="USER_UPDATE_ASSOCIATION"><i class="fa fa-group"></i><i class="fa fa-plus"></i></button>
					<button class="btn btn-small btn-default" ng-click="exportModal(true,users.exportData);" ng-class="{disabledComponent : isDisableComponent()}" ng-disabled="isDisableComponent()" ng-show="!isGemLite" gs-has-permission="USER_READ">Export</button>
					<button class="btn btn-small btn-default" ng-click="users.refreshDataUsage()" ng-class="{disabledComponent : isDisableRefreshComponent()}" ng-disabled="isDisableRefreshComponent()" gs-has-permission="REFRESH_DATAUSAGE">Refresh  <i class="fa fa-spinner fa-pulse" ng-show="isDisableRefreshComponent() && !isDisableComponent()"></i></button>
				</div>
				<!-- Filter -->
				<div class="pull-right">

					<gs-data-table-filter table-obj="dataTableObj" filter="roleName"  label="Role" list="userRoleFilters"  enable-search="false" gs-has-permission="CREATE_ENTERPRISE_SUPPORT_ADMIN" ></gs-data-table-filter>

					<div class="w-smaller inline-block">
						<gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isDisableComponent()" enable-search="false"></gs-data-table-filter>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>

			</div>
        </div>
        <div class="panel-body gs-data-table">
			<div id="paceTableBlockDiv" class="paceDiv"></div>
			<table id="{{dataTableObj.tableID}}" class="table table-striped" width="100%" gs-generate-table-body>
				<thead>
					<tr>
						<th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Usage:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
					</tr>
				</thead>
			</table>
		</div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<div ng-include="lazyLoadURL+'app/assets/users/modal-add-users.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/users/modal-bulk-upload.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-update-group.html'"></div>
<div ng-include="lazyLoadURL+'app/assets/data-usage/modal-bar-chart.html' "></div>

<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->