
<div class="tab-pane slide-left active">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading m-b-5">
                <div id="datatable-controls" gs-datatable-controls>

                    <!-- Dropdown -->
                    <div id="dt-action-dd" class="dropdown hideInReadOnlyMode m-b-5" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="SIM_ACTIVATION,PROVISIONING_SIMS_BLOCK_UNBLOCK">
                        <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
                        <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="checkbox check-success large no-label-text">
                                <input type="checkbox" value="1" id="checkbox_action">
                                <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>

                        <ul class="dropdown-menu" role="menu">
                            <!--to-do-->
                            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(SIMCardsVm.bulkAction,'Activate')"   gs-has-permission="SIM_ACTIVATION">Activate SIM(s)</a></li>
                            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(SIMCardsVm.bulkAction,'Deactivate')" gs-has-permission="SIM_ACTIVATION">Deactivate SIM(s)</a></li>
                            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(SIMCardsVm.bulkAction,'Block')"   gs-has-permission="PROVISIONING_SIMS_BLOCK_UNBLOCK">Block SIM(s)</a></li>
                            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(SIMCardsVm.bulkAction,'Unblock')" gs-has-permission="PROVISIONING_SIMS_BLOCK_UNBLOCK">Unblock SIM(s)</a></li>
                        </ul>
                    </div>

                    <!--search-->
                    <gs-data-table-search table-obj="dataTableObj" search-val="SIMCardsVm.searchValue"></gs-data-table-search>

                    <!-- Buttons -->
                    <div class="btn-group inline-block m-b-5" >
                        <button type="button" class="btn btn-complete" ng-click="SIMCardsVm.bulkSimAssociation()" gs-has-permission="PROVISIONING_SIMS_ADD">Add SIMs</button>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="w-smaller pull-right">
                        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                    </div>
                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
            <div class="panel-body gs-data-table">
                <div id="paceTableBlockDiv" class="paceDiv"></div>
                <table id="{{dataTableObj.tableID}}" class="table table-striped" ng-class="{'no-leading-checkbox':!enableCheckbox}" width="100%" gs-generate-table-body>
                    <thead>
                        <tr>
                            <th ng-repeat="header in dataTableObj.tableHeaders"
                                ng-class="{Usage:'tdth-usage data-unit'}[header.value]">{{header.value}}
                            </th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default"  ng-controller="AddSimHistCtrl as entRPAssociationHist" >
            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/association-history/enterprise-sim.association-history.html'"></div>
        </div>
    </div>
</div>

<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/modal-bulk-upload.html'"></div>

<div ng-include="lazyLoadURL+'app/assets/sims/modal-zone-status.html' "></div>
