<div id="simDetails">
    <div class="sim-details-wrapper bg-white">
        <div class="like-panel-title">
            <span class="pull-left">SIM Details</span>
            <a href="javascript:void(0);" title="Expand to see more SIM information" class="pull-right"
               ng-click='isSIMExpanded = !isSIMExpanded'>{{expOrCol}}</a>

            <div class="clearfix"></div>
        </div>

        <!-- SIM Details -->
        <div class="sbs-lv-table row-border full-width">
            <div class="lv-row">
                <div class="l-cell">
                    <span>GigSky ICCID</span>
                </div>
                <div class="v-cell">{{SIMDetailVM.SIM.simId}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">Nickname</div>
                <div class="v-cell">{{SIMDetailVM.SIM.nickName}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">SIM Type</div>
                <div class="v-cell">{{SIMDetailVM.SIM.simType | underscoreless}}</div>
            </div>
            <div class="lv-row">
                <div class="l-cell">Activated (UTC)</div>
                <div class="v-cell">{{SIMDetailVM.SIM.addedToAccountOn}}</div>
            </div>
        </div>
        <!-- / SIM Details -->

        <gs-collapse collapse='isSIMExpanded'>
            <!-- Additional SIM Details -->
            <div class="sbs-lv-table row-border full-width m-b-0">
                <div class="lv-row">
                    <div class="l-cell">SIM Status</div>
                    <div class="v-cell">{{SIMDetailVM.SIM.status}}</div>
                </div>
                <div class="lv-row">
                    <div class="l-cell">Assigned User</div>
                    <div class="v-cell">{{SIMDetailVM.user}}</div>
                </div>
                <div ng-if="!resellerOrSubAccount" class="lv-row">
                    <div class="l-cell">Group</div>
                    <div class="v-cell">{{SIMDetailVM.group}}</div>
                </div>
            </div>
            <!-- / Additional SIM Details -->

        </gs-collapse>

    </div>
</div>