<div id="imsi-profiles">
    <div class="sim-details-wrapper bg-white">
        <div class="like-panel-title" style="color: #333;">
            <span class="pull-left">IMSI Profiles</span>
        </div>
        <div class="panel-body gs-data-table auto-overflow">
            <table id="imsiProfileTable" class="table table-striped no-leading-checkbox" style="border-top: 0;">
                <thead>
                <tr>
                    <th>PROFILE</th>
                    <th>IMSI</th>
                    <th>MSISDN</th>
                    <th>STATUS</th>
                    <th>INSTALLATION TYPE</th>
                    <th>LAST MCC-MNC</th>
                    <th>LAST LOCATION</th>
                    <th>LAST SEEN TIME</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="imsi in SIMDetailVM.imsis">
                    <td>{{imsi.profile}}</td>
                    <td>{{imsi.imsi}}</td>
                    <td>{{imsi.msisdn}}</td>
                    <td>{{imsi.activationStatus}}</td>
                    <td><span class="nowrap">{{imsi.installationType == 'BURNED' ? 'PRE-INSTALLED' : imsi.installationType}}</span></td>
                    <td><span ng-if="imsi.lastSeenLocation.mccmnc" class="nowrap">{{imsi.lastSeenLocation.mccmnc.mcc}} - {{imsi.lastSeenLocation.mccmnc.mnc}}</span><span ng-if="!imsi.lastSeenLocation.mccmnc" class="nowrap">Not Available</span></td>
                    <td><span class="nowrap">{{imsi.lastSeenLocation.location ? imsi.lastSeenLocation.location : 'Not Available'}}</span></td>
                    <td><span class="nowrap">{{imsi.lastSeenLocation.lastSeenTime ? imsi.lastSeenLocation.lastSeenTime : 'Not Available'}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>