<div class="tab-pane slide-left active">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading users-table-panel">
				<div id="datatable-controls" gs-datatable-controls>

					<!-- Dropdown -->
					<div id="dt-action-dd" class="dropdown m-b-5 hideInReadOnlyMode" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="USER_DELETE">
						<div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
						<div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-disabled="true">
							<div class="checkbox check-success large no-label-text">
								<input type="checkbox" value="1" id="checkbox_action">
								<label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
								<i class="fa fa-caret-down"></i>
							</div>
						</div>
						<ul class="dropdown-menu" role="menu">
							<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(users.verifyDeletion)" gs-has-permission="USER_DELETE">Delete</a></li>
						</ul>
					</div>

					<!-- Search -->
					<gs-data-table-search table-obj="dataTableObj" search-val="users.searchValue"></gs-data-table-search>
					<div class="clearfix visible-sm visible-xs"></div>

					<!-- Buttons -->
					<div id="user-addition" class="btn-group sm-btn-halves m-b-5">
						<button type="button" class="btn btn-default single-user icon-btn hideInReadOnlyMode" ng-click="users.addUser()" data-toggle="tooltip" title="Add User" gs-has-permission="CREATE_USER"><i class="fa fa-user"></i><i class="fa fa-plus"></i></button>
						</div>

					<!-- Filter -->
					<div class="pull-right">
						<gs-data-table-filter table-obj="dataTableObj" filter="roleName"  label="Role" list="userRoleFilters"  enable-search="false" ></gs-data-table-filter>

						<div class="w-smaller inline-block">
							<gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isDisableComponent()" enable-search="false"></gs-data-table-filter>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="panel-body gs-data-table">
				<div id="paceTableBlockDiv" class="paceDiv"></div>
				<table id="{{dataTableObj.tableID}}" class="table table-striped" ng-class="{'no-leading-checkbox':!enableCheckbox}" width="100%" gs-generate-table-body>
					<thead>
					<tr>
						<th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Usage:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/users/modal-add-users.html'"></div>
