/*
	collapse.less

-------------------------------------------------------------------*/

.simple-collapse-wrapper{
  height: 0;
  overflow: hidden;
  .transition(height .35s ease-in);

  .simple-collapse-content{
    padding: 20px 0;
  }

}