/*
	helpers.less

-------------------------------------------------------------------*/

.va-middle{
  vertical-align: middle !important;
}

.ds-block{
  display: block !important;
}

.ds-inline{
  display: inline-block !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.font-inconsolata{
  font-family: "Inconsolata", monospace !important;
}

.w-50{
  width: 50px !important;
}

.w-60{
  width: 60px !important;
}