/*
	sim-details.less

-------------------------------------------------------------------*/

.sim-details-wrapper {
  border: 1px solid rgba(0, 0, 0, .07);
  padding: 20px;

  .like-panel-title {
    display: block;
  }

  .sbs-lv-table {
    margin: 0;
  }
}