<form name="entAssociateRPForm" class="modal fade slide-up disable-scroll" id="entAssociateRPModal" tabindex="-1" role="dialog" aria-hidden="false"   ng-controller="EntAssociateRPCtrl as entAssociateRP" novalidate gs-form-validation >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="entAssociateRP.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{entAssociateRP.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert alert-danger m-b-10" role="alert" ng-show="entAssociateRP.errorMessage">{{entAssociateRP.errorMessage}}</div>

                        <div class="row">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                    <label for="roamingProfileSet" ng-class="{fade : entAssociateRP.roamingProfile.set}">Roaming Profile Set</label>
                                    <ui-select ng-model="entAssociateRP.roamingProfile.set"  id="roamingProfileSet" name="roamingProfileSet" search-enabled="true"  theme="bootstrap" required on-select="entAssociateRP.enableRPVersionSelect()">
                                        <ui-select-match placeholder="Select or search a roaming profile set">
                                            {{entAssociateRP.roamingProfile.set.roamingProfileSetName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in entAssociateRP.roamingProfileSets | filter: $select.search">
                                            <span ng-bind-html="entAssociateRP.trustAsHtml((item.roamingProfileSetName | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any predefined roaming profile set.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                                <div class="fg-element-error"><span style="color: red" ng-show="entAssociateRPForm.roamingProfileSet.errorStr"> {{ entAssociateRPForm.roamingProfileSet.errorStr }}</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                    <label for="roamingProfileVersion" ng-class="{fade : entAssociateRP.roamingProfile.version}">Roaming Profile</label>
                                    <ui-select ng-model="entAssociateRP.roamingProfile.version"  id="roamingProfileVersion" name="roamingProfileVersion" theme="bootstrap" required ng-disabled="isRPVersionSelectDisabled">
                                        <ui-select-match placeholder="Select or search a roaming profile">
                                            {{entAssociateRP.roamingProfile.version.roamingProfileName }}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in entAssociateRP.roamingProfileVersions | filter: $select.search">
                                            <span ng-bind-html="entAssociateRP.trustAsHtml((item.roamingProfileName | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any roaming profile.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                                <div class="fg-element-error"><span style="color: red" ng-show="entAssociateRPForm.roamingProfileVersion.errorStr"> {{ entAssociateRPForm.roamingProfileVersion.errorStr }}</span></div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="entAssociateRP.modalCancel()" data-dismiss="modal">{{entAssociateRP.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="entAssociateRP.modalSubmit(entAssociateRPForm)" >{{entAssociateRP.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>